.navbar{
  animation: scrollNav linear both;
  animation-timeline: scroll(root);
  animation-range: 0 200px;
}
@keyframes scrollNav{
  to{
    background: rgba(0,0,0,0.4);
  }
}
.logo{
  fill: white;
  animation: scrollLogo linear both;
  animation-timeline: scroll(root);
  animation-range: 0 50px;
}
@keyframes scrollLogo{
  to{
    fill: #242424;
  }
}
